/* ===== 메인 스타일 진입점 ===== */

/* 1. 변수 및 전역 설정 (base/) */
@import "./base/variables.css";
@import "./base/global.css";

/* 2. 공통 유틸리티 (utils/) */
@import "./utils/utilities.css";
@import "./utils/common.css";
@import "./utils/layout.css";
@import "./utils/pagination.css";
